// BG COLORS

$bg-white1:#FFFFFFF2;
$bg-white2:#FFFFFF26;
$bg-grey:#FCFAF68C;
$bg-white3:#FBF9F9;
$bg-brown-light:#FAF7F1;
$bg-green-light:#D8F0E3;
$bg-green-dark:#C0E1CF;
$bg-orange-brown:#F3D0C7;
$bg-brown-dark:#E1C0B0;
$bg-white1:#FFFFFFF2;
$bg-white1:#FFFFFFF2;
$bg-grey2:#00000026;
$bg-red-dark:#EF2853;
$bg-red-light:#EE2852;

// TEXT COLORS

$tx-white:#FFFFFF;
$tx-brown-light:#F5D8CA;
$tx-yellow:#F8D12D;
$tx-green-light:#BADAC9;
$tx-grey-dark:#A6A6A6;
$tx-salmon:#F0817B;
$tx-orange:#EB6950;
$tx-grey-dark-dark:#878787;
$tx-grey-dark-dark-dark:#6D6D6D;
$tx-purple:#80465F;
$tx-black:#000000;

// FILL COLORS

$fill-white:#FFFFFF;
$fill-salmon:#F0817B;
$fill-red:#EE2852;
$fill-black:#000000;

// BORDER COLORS

$border-grey:#EBEBEB;
$border-brown:#F5D8CA;
$border-grey:#C0E1CF;
$border-brown-dark:#E1C0B0;
